aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
test-driver
test_springreader
test_springreader.log
test_springreader.trs
test-suite.log
tmp
*.swp
*.o
test_*
data/*.c
**/.deps
**/.dirstamp
